BOT_TOKEN=8606229207:AAF2E5m3gQu0tLBgDVm1ehl9rnyMaEN9ykg
MONGO_URI=mongodb+srv://dhyeyfileshare:Dhyey2974@fileshare.rb8ld09.mongodb.net/?retryWrites=true&w=majority&appName=fileshare
DB_NAME=file_store
STORAGE_CHAT_ID=-1003097153125
BOT_USERNAME=cloudstoresbot
BASE_URL=https://file-store-bot-phi.vercel.app/
WEBHOOK_SECRET=dhyey
ADMIN_IDS=1123135015
